.header {
	margin: 60 auto; 
	font-style: 20px;
	text-align: center;
	line-height: 1.5;
}

.header span {
	display: block;
}

.section {
	padding: 30px 0;
}

.form {
	border: 5px solid #2727d9;
	padding: 35px 20px;
}

.form input {
	margin-bottom: 12px;
}

.form-header, .section-header {
	margin-bottom: 20px;
	font-style: 20px;
	font-weight: 900;
}

.form-btn {
	background-color: #2727d9;
	margin: 10px auto;
}

.feature {
	margin-top: 60px auto;
}

.feature p {
	margin-top: 20px;
}

.feature-box {
	height: 160px;
}

.customers-box1 {
	margin-top: 75px;
}

.customers-box {
	margin-top: 35px;
}

.break {
	height: 100px;
}